body {
  background-color: rgb(95, 101, 101);
}
.cool {
  visibility: hidden;
  width: 100px;
  height: 100px;
  background-color: rgb(101, 165, 42);
  transition: background-color 2s;
}

.cool.red {
  visibility: visible;
  background-color: rgb(255, 85, 0);
}
